* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body { 
  background:#f8fffe;
  background:#f8fffe;
  min-height: 100vh;
}

button { 
  cursor: pointer;
}